My name is GeekSalon.
<div class="logo-image"=>
    <%= link_to hello_index_path do %>
    <%= image_tag 'image1.png' ,size: '200×200' %>
    <% end %>
</div>

    <%= link_to '投稿一覧へ', tweets_index_path =%>
        
    